<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>About GOAAAL! Soccer</h1>
    <p>GOAAAL! Soccer aims to provide the highest quality contemporary and vintage kits. By fans, for fans!</p>
  </body>
</html>
