<h1> Application Error</h1>
<p>Something has gone wrong! Click here to go back home</p>
<p>
    <a href="/"> 
    <img src="doggo.jpg" alt="errordog",  width="200" height="100", class = center>
        </p>
