<table bgcolor='#d1e0e0'> 
	<tr>
		<td width='20%' align='left'>
			<a href="/"> 
				<img src="images/logo.png" width="200" height="100"> 
			</a>
		</td> 

    	<td width='100%' align='center'><h1>GOAAAL! Soccer</h1></td>
		<td width='20%' align='center'>Login Control</td>
		<td width='30%' align='center'>Shopping Cart</td>
	</tr>
</table>

<p style="background-color:#d1e0e0"> SEARCH CONTROL </p>

<ul>
	<li> <a href="/">Home</a> </li>
	<li> <a href="/about">About Us</a> </li>
	<li> <a href="/contact">Contact Us</a> </li>
</ul>
