<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Soccer lives at GOAAAL!</h1>

    <p>For all your soccer kit needs!</p>
  </body>
</html>
